<h1><%= 'Edit Style'[:edit_style] %></h1>

<% form_for :style,
     :url  => style_path(@style),
     :html => { :method => :put } do |f| -%>
<%= render :partial => "form", :object => f %>
<%= submit_tag 'Save Style'[:save_style], :or => link_to('Cancel'[:cancel], styles_path) %>
<% end -%>