<h1><%= 'New Style'[:new_style] %></h1>

<% form_for :style, :url => styles_path, :html => {:id => 'style_form'} do |f| -%>
<%= render :partial => "form", :object => f %>
<%= submit_tag 'Create Style'[:create_style], :or => link_to('Cancel'[:cancel], styles_path) %>
<% end -%>